# Hoist transitive dependencies so that 'electron-squirrel-startup' can successfully find
# the 'debug' package.
#
# https://www.electron.build/index.html#note-for-pnpm
# https://github.com/electron-userland/electron-builder/issues/6289#issuecomment-1042620422
# https://github.com/electron-userland/electron-builder/issues/6792#issuecomment-1098555140
# https://github.com/develar/app-builder/issues/84
node-linker = hoisted

# Always run the "postinstall" script of our dependencies so that the "electron" package
# can successfully download Electron from the Internet.
#
# https://github.com/pnpm/pnpm/issues/4649
# https://pnpm.io/blog/2022/12/30/yearly-update#side-effects-cache-since-v700
# https://pnpm.io/next/npmrc#side-effects-cache
# https://juejin.cn/post/7093061981254451231
side-effects-cache = false
